.top{
    width:100%;height: 80px;
    background-color: black;
    color: black;
    padding: 10px;border-radius: 5px;
    display: flex;align-items: center;
    position:relative;opacity: 0.8;
    position: fixed;
}
.top-content{
    width: 13%;height: 50px;margin: 5px;
    border-radius: 5px;
    background-color: darkgrey;
    /* display: flex;justify-content: center; */
    font-size: 30px;
}
.listbox{
    /* border: midnightblue 1px solid; */
    /* padding-right: 20px; */
    padding-left:10px;
    list-style-type: none;
    background-color: darkgrey;
}
:hover.listbox{
    background-color:gray;
    color: midnightblue;
}
.picture{
    width: 40%;height: 300px;
    margin-left: 5%;margin-top: 20px;
    padding: 2px;
    background-color: darkgray;
}
:hover.fp{
    width: 110%;height: 330px;
    margin-top: -15px;margin-left: -5%;
    padding: 2px;
    background-color: darkgray;
}
.fp{
    width: 100%;height: 296px;
}
